h1 {
    text-align: center;
    color: white;
    background: peru;
}

body {
    background: peru;
}

#first {
    text-align:left;
    margin:5%;
}

#second {
    display:inline-block;
    margin: 5%;
    margin-top:4%;
}

